#page-container {
  position: relative;
  min-height: 100vh;
  background-color: #1F2232;
  }
  
  .header{
  padding-bottom: 1rem;
  }
    
  .footer{
  position: relative;
  bottom: 0;
  width: 100%;       
  }

.strike {
  text-decoration: line-through;
}

td {
  border: 1px solid ;
  padding: 5px;
}

.todo-input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
  background-color: white;
}

.todo-table-class{
  border: 3px solid #596475;
  border-radius: 20px;
  background-color: white;
}

.todo-block {
  border: 3px solid #596475;
  padding: 1rem;
  border-radius: 20px;
  color: black;
  background-color: white;
}

.todo-overlay {
  width: 100vw;
  height: 100vh;
  background-color: grey;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translatex(-100vw);
  transition:  all 350ms;
  z-index: 2;

}

.todo-modal {
  width: 50vw;
  height: 34vh;
  background-color: #84cdb9;
  
}

.todo-modal-close-btn{
    background-color: red;
    position: absolute;
    top: calc(32vh + 2px);
    left: calc(77vw - 2rem - 28px);
    width: 2rem;
    height: 2rem;
    display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: azure;
  font-weight: bold;
}

.slideIntoView {
    transform: translatex(0);
    transition: transform 750ms;
}

#eventsbox {
  display:inline-block;
  border: 3px solid #596475;
  position:relative;
  padding:1rem;
  border-radius: 30px;
  color: black;
  background-color: white;
}

.eventButton {
  border: 1px solid #596475;
  color: black;
}

/* for mobile or small devices */
@media screen and (max-width: 767px) {
  #todoTable,
  #calendar {
    margin-top: 1rem;
  }
}
/* for laptops or desktop */
@media screen and (min-width: 768px) {
  .todo-grid-parent {
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: 1rem;
  }

  #calendar {
    position: sticky;
    top: 0;
  }
}
