
.strike {
  text-decoration: line-through;
}

td {
  border: 1px solid black;
  padding: 5px;
}
.todo-input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
}
#todoTable {
  margin-top: 50px;
}

.todo-block {
  border: 1px solid #ff8e72;
  padding: 1rem;
  border-radius: 20px;
  color: #ed6a5e;
}

.todo-overlay {
  width: 100vw;
  height: 100vh;
  background-color: grey;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translatex(-100vw);
  transition:  all 350ms;
  z-index: 2;

}

.todo-modal {
  width: 50vw;
  height: 34vh;
  background-color: #84cdb9;
  
}

.todo-modal-close-btn{
    background-color: red;
    position: absolute;
    top: calc(32vh + 2px);
    left: calc(77vw - 2rem - 28px);
    width: 2rem;
    height: 2rem;
    display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: azure;
  font-weight: bold;
}

.fc-button-group  {
  background-color: #ff8e72;
  color: #ed6a5e;
}


.slideIntoView {
    transform: translatex(0);
    transition: transform 750ms;
}

#eventsbox {
  display:inline-block;
  border: 1px solid #ff8e72;
  position:relative;
  padding:1rem;
  margin-top: 50px;
  border-radius: 30px;
  color: #ed6a5e;
}

.eventButton {
  border: 1px solid #ff8e72;
  color: #ed6a5e;
}


/* for mobile or small devices */
@media screen and (max-width: 767px) {
  #todoTable,
  #calendar {
    margin-top: 1rem;
  }
}
/* for laptops or desktop */
@media screen and (min-width: 768px) {
  .todo-grid-parent {
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: 1rem;
  }

  #calendar {
    position: sticky;
    top: 0;
  }
}
